body{
    background-color: black;
}

swift_color{
  color: coral;
}

ios_color{
  color: whitesmoke;
}

h1{
  margin-top: 0.01em;
  margin-bottom: 0.01em;
}

/* Header */
.header{
    text-align: center;
    color: white;
    font-family: SF Display;
}

/* wwdc20_header_div */
.wwdc20_header_div{
  background-image: url("asset/header_bg.jpg");
  background-position: bottom;
  height: 40em;
  background-size: cover;
}

/** Bold */
@font-face {
    font-family: "SF Display";
    font-weight: 700;
    src: url("font/SF-Pro-Display-Bold.otf");
  }
  
  /** Medium */
  @font-face {
    font-family: "SF Display";
    font-weight: 500;
    src: url("font/SF-Pro-Display-Medium.otf");
  }
  
  /** Regular */
  @font-face {
    font-family: "SF Display";
    font-weight: 400;
    src: url("font/SF-Pro-Display-Regular.otf");
  }
  
  /** Semibold */
  @font-face {
    font-family: "SF Display";
    font-weight: 600;
    src: url("font/SF-Pro-Display-Semibold.otf");
  }